params {
  config_profile_description = 'Cluster profile for Annuna HPC cluster at WUR'
  config_profile_contact = 'Raúl Wijfjes'
}

process {
  executor = 'slurm'
  queue='main'
  clusterOptions = { "${params.clusterOptions ?: ''}" }
}

params {
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

profiles {
  devel {
    params {
      config_profile_description = 'Testing & development profile for Annuna HPC cluster at WUR'
      // Max resources to be requested by a devel job
      max_memory = 120.GB
      max_time = 1.h
    }
    executor.queueSize = 1
    process.queue = 'main'
  }
}