process {
	executor = 'slurm'
	queue = 'your_queue'
	cpus = 1
	time = '30m'
	memory = '200 MB'
	shell = ['/usr/bin/bash', '-e']
}

process {
    withLabel: "exclude_reads" {
        memory = '500m'
        time = '1h'
    }
}

process {
    withLabel: "bwa" {
        cpus = 12
	time = '5h'
	memory = '2 GB'
    }
}

process {
    withLabel: "mark_duplicates" {
        time = '3h'
        memory = '7 GB' 
    }
}

process {
    withLabel: "multithreading" {
        cpus = 4
	time = '3h'
	memory = '4 GB'
    }
}

process {
    withLabel: "lumpy" {
        time = '5h'
        memory = '7 GB'
    }
}

process {
    withLabel: "delly" {
        time = '5h'
        memory = '4 GB'
    }
}

process {
    withLabel: "gridss" {
        memory = '41 GB'
    }
}

executor {
    name = 'slurm'
    queueSize = 200
    jobName = { "$task.hash" }
}

docker {
    fixOwnership = true
}

trace {
	enabled = true
	file = 'pipeline_trace.txt'
	fields = 'task_id,name,status,exit,submit,duration,realtime,%cpu,rss'
}
