process {
	executor = 'local'
	cpus = 1
}

process {
    withLabel: "bwa" {
        cpus = 12
    }
}

process {
    withLabel: "multithreading" {
        cpus = 4
    }
}

executor {
    name = 'local'
    cpus = 13
    memory = '64 GB'
}

docker {
    fixOwnership = true
}

trace {
	enabled = true
	file = 'pipeline_trace.txt'
	fields = 'task_id,name,status,exit,submit,duration,realtime,%cpu,rss'
}